{% extends './layout.html' %}

{% block title %} {{titulo}} {% endblock %}
{% block body %}

<!-- -----------------Alertas de registro, editado, borrado y restaurado---------------------------- -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if " Error" in message %}danger {% elif "Advertencia" in message %}warning {% else %}success
    {% endif %} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!-- ----------------------------------------------------------------------------------------------- -->
<h1>Registrar nuevo curso</h1>
<div class="form-container">
    <form class="formulario" method="POST" action="{{url_for('cursos.cursos_nuevo')}}" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div>
            <div class="espacio_form">
                <!-- <label for="nombre_usuario">Nombre de usuario</label> -->
                <input type="text" id="codigo_curso" placeholder="Codigo" name="codigo_curso" required>
            </div>
            <div class="espacio_form">
                <!-- <label for="nombre_usuario">Nombre de usuario</label> -->
                <input type="text" id="nombre_curso" placeholder="Nombre Curso" name="nombre_curso" required>
            </div>
            <!-- ----------------------------------------TIPO-------------------------------------------------------- -->
            <div class="espacio_form">
                <select name="id_tipo" id="id_tipo" aria-label="Default select example">
                    <option value="true" selected>-Seleccione el tipo-</option>
                    {% if tipos %}
                    {% for tipo in tipos %}
                    <option value="{{tipo.0}}">{{tipo.1}}</option>
                    {% endfor %}
                    {% else %}
                    <option>Aún no hay registros</option>
                    {% endif %}
                </select>
            </div>

            <div class="espacio_form">
                <!-- <label for="nombre_empleado">Nombre completo</label> -->
                <input type="text" id="duracion_curso" placeholder="Duracion Curso" name="duracion_curso" required>
            </div>

            <div class="espacio_form">
                <button class="botones" type="submit">Guardar</button>
            </div>
            <div class="espacio_form">
                <a class="botones" href="{{url_for('cursos.cursos_buscar')}}">Cancelar</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}