{% extends './layout.html' %} {% block body %}

<a href="{{url_for('cursos.cursos_buscar')}}" class="botones m-2">
    <i class="fas fa-arrow-left"></i>
</a>

<main class="container my-4">
    <h2 class="text-center mb-4">Papelera de Cursos y Especializaciones</h2>

    <!-- -----------------Alertas de registro, editado, borrado y restaurado---------------------------- -->
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="alert alert-dismissible fade show alert-fixed {% if 'Error' in message %}alert-danger{% elif 'Advertencia' in message %}alert-warning{% else %}alert-success{% endif %}"
        role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <!-- -------------------------------------BUSCADOR------------------------------------------ -->
    <section class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
        <form method="get" action="{{ url_for('cursos.cursos_papelera') }}"
            class="d-flex flex-grow-1 justify-content-end">
            <div class="input-group" style="max-width: 300px;">
                <input class="form-control mr-2" type="text" name="buscar" value="{{ search_query }}"
                    placeholder="Buscar..." required>
                <button class="botones-ver ms-2" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </section>

    <!-- ------------------------------TABLE -------------------------------- -->
    <section class="table-responsive table-sm">
        <table class="table table-hover">
            <thead>
                <tr align="center">
                    <th>Nombre curso</th>
                    <th>Codigo</th>
                    <th>Tema/tipo</th>
                    <th>Duracion</th>
                    <th>Restaurar</th>
                </tr>
            </thead>
            <tbody>
                {% if cursos %}
                {% for curso in cursos %}
                {% if curso.estado == false %}
                <tr align="center">
                    <td>{{curso.nombre_curso}}</td>
                    <td>{{curso.codigo_curso}}</td>
                    <td>{{curso.nombre_tipo}}</td>
                    <td>{{curso.duracion_curso}}</td>
                    <td>
                        <button class="botones-restaurar" type="button" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop-{{curso.id_curso}}"><i class="fas fa-sync-alt"
                                style="font-size: 18px;"></i>
                        </button>
                    </td>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                <tr>
                    <td align="center" colspan="8">No existen cursos eliminados</td>
                </tr>
                {% endif %}
                </tr>
            </tbody>
        </table>
    </section>

    <!-- -------------------------------------------------PAGINADOR----------------------------------------------- -->
    <nav class="pagination-container mt-4" aria-label="Navegacion de paginas de cursos eliminados"
        class="justify-content-center">
        <ul class="pagination justify-content-center" style="margin:20px 0">
            {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{url_for('cursos_papelera')}}?page={{ page - 1 }}&per_page={{ per_page }}"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% if page != 1 and page != 2 %}
            <li class="page-item"><a class="page-link" href="{{url_for('cursos_papelera')}}">1</a></li>
            {% if page != 3 %}
            <li class="page-item"><a class="page-link disabled >...</a></li>
            {% endif %}
            {% endif %}
            <li class=" page-item"><a class="page-link"
                        href="{{url_for('cursos_papelera')}}?page={{ page - 1 }}&per_page={{ per_page }}">{{page-1}}</a>
            </li>
            {% endif %}

            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page }}</span>
            </li>

            {% if page < total_pages %} <li class="page-item"><a class="page-link"
                    href="{{url_for('cursos_papelera')}}?page={{ page + 1 }}&per_page={{ per_page }}">{{page+1}}</a>
                </li>
                {% if page != total_pages and page != total_pages-1 %}
                {% if page != total_pages-2 %}
                <li class="page-item"><a class="page-link disabled">...</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link"
                        href="{{url_for('cursos_papelera')}}?page={{ total_pages }}&per_page={{ per_page }}">{{total_pages}}</a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link"
                        href="{{url_for('cursos_papelera')}}?page={{ page + 1 }}&per_page={{ per_page }}"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
        </ul>
    </nav>

    <!-- --------------------------------------------------MODAL--------------------------------------------------- -->
    {% if cursos %} {% for curso in cursos %}
    <div class="modal fade" id="staticBackdrop-{{curso.id_curso}}" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Confirmar acción</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Deseas restaurar el curso/especializacion <strong>{{ curso.nombre_curso }}</strong>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a class="botones-restaurar" href="{{ url_for('cursos.curso_restaurar', id = curso.id_curso) }}"
                        class="btn-delete"><i class="fas fa-sync-alt"></i>Restaurar</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} {% else %} {% endif %}
</main>

{% endblock %}