{% extends './layout.html' %}
{% block body %}
<h2>Cursos</h2>
<br>
<!-- -----------------Alertas de registro, editado, borrado y restaurado---------------------------- -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if " Error" in message %}danger {% elif "Advertencia" in message %}warning {% else %}success
        {% endif %} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div>
        <div class="form-container">
                <!-- --------------------------------------NUEVO CURSO ------------------------------------- -->

                <button type="button" class="botones" data-bs-toggle="modal" data-bs-target="#modalAgregarCurso">
                        <i class="fa fa-plus" style="font-size: 18px;"></i>Nuevo
                </button>
                <!-- -------------------------------------BUSCADOR------------------------------------------ -->
                <form method="get" action="{{ url_for('cursos.cursos_buscar') }}" class="d-flex">
                        <input class="form-control" type="text" name="buscar" value="{{ search_query }}"
                                placeholder="Buscar..." required>
                        <button type="submit"><i class="fas fa-search"></i></button>
                </form>
        </div>
</div>

<div class="form-container">
        <a class="botones" href="{{ url_for('temas.temas_buscar') }}">Temas</a>
</div>

<!-- ------------------------------TABLE -------------------------------- -->
<div class="tables">
        <table>
                <thead>
                        <tr>
                                <th>Ver</th>
                                <th>Nombre curso</th>
                                <th>Codigo</th>
                                <th>Tema/tipo</th>
                                <th>Duracion</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                        </tr>
                </thead>
                <tbody>
                        {% if cursos %}
                        {% for curso in cursos %}
                        {% if curso.estado == true %}
                        <tr>
                                <td>
                                        <a class="botones-ver"
                                                href="{{url_for('cursos.curso_detalles',id = curso.id_curso)}}">
                                                <li class="fa fa-eye" style="font-size: 18px;"></li>
                                        </a>
                                </td>
                                <td>{{curso.nombre_curso}}</td>
                                <td>{{curso.codigo_curso}}</td>
                                <td>{{curso.nombre_tipo}}</td>
                                <td>{{curso.duracion_curso}}</td>
                                <td>
                                        <!-- <a class="botones-editar"
                                                href="{{ url_for('cursos.curso_editar', id = curso.id_curso) }}">
                                                <li class="fa fa-edit" style="font-size: 18px;"></li>
                                        </a> -->
                                        <button type="button" class="botones" data-bs-toggle="modal"
                                                data-bs-target="#modalEditar-{{curso.id_curso}}">
                                                <li class="fa fa-edit" style="font-size: 18px;"></li>
                                        </button>
                                </td>
                                <td>
                                        <button class="botones-delete" type="button" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop-{{curso.id_curso}}">
                                                <li class="fa fa-trash" style="font-size: 18px;"></li>
                                        </button>
                                </td>
                                {% endif %}
                                {% endfor %}
                                {% else %}
                        <tr>
                                <td align="center" colspan="8">No existen cursos</td>
                        </tr>
                        {% endif %}
                        </tr>
                </tbody>
        </table>
</div>
<!-- -------------------------------------------------PAGINADOR----------------------------------------------- -->
<nav class="paginati" aria-label="Page navigation" class="justify-content-center">
        <ul class="pagination justify-content-center" style="margin:20px 0">
                {% if page > 1 %}
                <li class="page-item">
                        <a class="page-link bg-warning"
                                href="{{url_for('cursos.cursos_buscar')}}?page={{ page - 1 }}&per_page={{ per_page }}"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                        </a>
                </li>
                {% if page != 1 and page != 2 %}
                <li class="page-item"><a class="page-link bg-warning" href="{{url_for('cursos.cursos_buscar')}}">1</a>
                </li>
                {% if page != 3 %}
                <li class="page-item"><a class="page-link disabled bg-warning">...</a></li>
                {% endif %}
                {% endif %}
                <li class="page-item"><a class="page-link bg-warning"
                                href="{{url_for('cursos.cursos_buscar')}}?page={{ page - 1 }}&per_page={{ per_page }}">{{page-1}}</a>
                </li>
                {% endif %}

                <li class="page-item"><a class="page-link active bg-warning" href="#">{{page}}</a></li>

                {% if page < total_pages %} <li class="page-item"><a class="page-link bg-warning"
                                href="{{url_for('cursos.cursos_buscar')}}?page={{ page + 1 }}&per_page={{ per_page }}">{{page+1}}</a>
                        </li>
                        {% if page != total_pages and page != total_pages-1 %}
                        {% if page != total_pages-2 %}
                        <li class="page-item"><a class="page-link disabled bg-warning">...</a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link bg-warning"
                                        href="{{url_for('cursos.cursos_buscar')}}?page={{ total_pages }}&per_page={{ per_page }}">{{total_pages}}</a>
                        </li>
                        {% endif %}
                        <li class="page-item">
                                <a class="page-link bg-warning"
                                        href="{{url_for('cursos.cursos_buscar')}}?page={{ page + 1 }}&per_page={{ per_page }}"
                                        aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                </a>
                        </li>
                        {% endif %}
        </ul>
</nav>

<!-- -----------------------------------------------PAPELERA--------------------------------------------------- -->

<div>
        <br>
        <a href="{{ url_for('cursos.cursos_papelera') }}"
                class="btn btn-outline-danger d-inline-flex align-items-center">
                <li class="fa fa-folder" style="font-size: 18px;"></li>
        </a>
</div>

<!-- --------------------------------------------------MODAL--------------------------------------------------- -->
{% if cursos %}
{% for curso in cursos %}
<div class="modal fade" id="staticBackdrop-{{curso.id_curso}}" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Confirmar acción</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                                ¿Deseas cancelar el curso <strong>{{ curso.nombre_curso }}</strong>?
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                <a class="btn btn-danger"
                                        href="{{ url_for('cursos.curso_eliminar', id = curso.id_curso) }}"
                                        class="btn-delete"><i class="fas fa-trash-alt"></i>Eliminar</a>
                        </div>
                </div>
        </div>
</div>

<div class="modal fade" id="modalEditar-{{ curso.id_curso }}" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="modalEditarLabel-{{ curso.id_curso }}" aria-hidden="true">
        <div class="modal-dialog">
                <form action="{{url_for('cursos.cursos_actualizar')}}" enctype="multipart/form-data" method="post"
                        class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-tittle" id="modalEditarLabel-{{ curso.id_curso }}">Editar curso</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

                                <label for="">Codigo del curso</label>
                                <input type="text" id="codigo_curso" placeholder="Codigo curso" name="codigo_curso"
                                        value="{{curso.codigo_curso}}">

                                <label for="">Nombre del curso</label>
                                <input type="text" id="nombre_curso" placeholder="Nombre Curso" name="nombre_curso"
                                        value="{{curso.nombre_curso}}">

                                <label for="">Duracion del curso</label>
                                <input type="text" id="duracion_curso" placeholder="Duracion Curso"
                                        name="duracion_curso" value="{{curso.duracion_curso}}">

                                <label for="">Es nacional?</label>
                                <input type="checkbox" name="es_nacional" id="es_nacional" {% if curso.es_nacional %}
                                        checked {% endif %}>

                                <!-- ------------------------------------desplegable-------------------------------------------------------------- -->
                                <select name="id_tema" id="id_tema" class="form-select"
                                        aria-label="Default select example">
                                        <option value="true" selected>Tema</option>
                                        {% if temas %}
                                        {% for tema in temas %}
                                        <option value="{{tema.0}}" {% if tema.0==curso.nombre_tema %} selected {% endif
                                                %}>
                                                {{tema.1}}</option>
                                        {% endfor %}
                                        {% else %}
                                        <option>Aún no hay registros</option>
                                        {% endif %}
                                </select>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="botones" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="botones">Guardar</button>
                        </div>
                </form>
        </div>
</div>

{% endfor %}
{% else %}
{% endif %}

<div class="modal fade" id="modalAgregarCurso" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalAgregarCursoLabel" aria-hidden="true">
        <div class="modal-dialog">
                <form action="{{url_for('cursos.cursos_nuevo')}}" enctype="multipart/form-data" method="post"
                        class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-tittle" id="modalAgregarCursoLabel">Agregar Curso</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

                                <label for="nombre_usuario">Codigo</label>
                                <input type="text" id="codigo_curso" placeholder="Codigo" name="codigo_curso" required>

                                <label for="nombre_usuario">Nombre de curso</label>
                                <input type="text" id="nombre_curso" placeholder="Nombre Curso" name="nombre_curso"
                                        required>

                                <label for="nombre_usuario">Es nacional?</label>
                                <input type="checkbox" name="es_nacional" id="es_nacional">

                                <!-- ----------------------------------------Tema-------------------------------------------------------- -->
                                <select name="id_tema" id="id_tema" aria-label="Default select example">
                                        <option value="true" selected>Tema</option>
                                        {% if temas %}
                                        {% for tema in temas %}
                                        <option value="{{tema.0}}">{{tema.1}}</option>
                                        {% endfor %}
                                        {% else %}
                                        <option>Aún no hay registros</option>
                                        {% endif %}
                                </select>

                                <!-- <label for="nombre_empleado">Nombre completo</label> -->
                                <input type="text" id="duracion_curso" placeholder="Duracion Curso"
                                        name="duracion_curso" required>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="botones" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="botones">Guardar</button>
                        </div>
                </form>
        </div>
</div>

{% endblock %}