{% extends './layout.html' %} {% block body %}
<main class="w-100 d-flex flex-column">
    <h2 class="text-center mb-4">Pagos</h2>

    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="alert alert-dismissible fade show alert-fixed {% if 'Error' in message %}alert-danger{% elif 'Advertencia' in message %}alert-warning{% else %}alert-success{% endif %}"
        role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <section class="d-flex justify-content-center align-items-center flex-wrap gap-3 mb-3">

        <button type="button" class="botones m-2" data-bs-toggle="modal" data-bs-target="#modalAgregarGasto">
            <i class="fa fa-plus mr-2"></i> Nuevo gasto
        </button>

        <form id="formBuscar" method="get" action="{{ url_for('pagos.pagos_buscar') }}"
            class="d-flex flex-grow-1 justify-content-end">
            <div class="input-group mr-2" style="max-width: 300px;">
                <input class="form-control mr-2" type="text" name="buscar" value="{{ search_query }}"
                    placeholder="Buscar..." aria-label="Buscar participante por clave o nombre" required
                    onchange="document.getElementById('formBuscar').submit()" />
                <button type="submit" class="botones-ver ms-2" aria-label="Buscar">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </section>

    <section class="d-flex justify-content-center align-items-end flex-wrap gap-3 mb-3">
        <form method="get" action="{{ url_for('pagos.pagos_filtros') }}" class="d-flex flex-wrap align-items-end gap-3"
            id="filtroForm">

            <!-- Fecha inicio -->
            <div class="d-flex flex-column">
                <label for="fechaInicio" class="form-label mb-1">Fecha inicio</label>
                <input type="date" id="fechaInicio" name="fecha_inicio" class="form-control form-control-sm"
                    value="{{ request.args.get('fecha_inicio', '') }}">
            </div>

            <!-- Fecha fin -->
            <div class="d-flex flex-column">
                <label for="fechaFin" class="form-label mb-1">Fecha fin</label>
                <input type="date" id="fechaFin" name="fecha_fin" class="form-control form-control-sm filtro-auto"
                    value="{{ request.args.get('fecha_fin', '') }}">
            </div>
        </form>

        <!-- Botón Limpiar -->
        <div>
            <a href="{{ url_for('pagos.pagos_buscar') }}" class="btn btn-sm btn-secondary ml-2">Limpiar</a>
        </div>
    </section>

    <section class="table-responsive tables_participantes table-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Forma Pago</th>
                    <th>Cuenta destino</th>
                    <th>Factura</th>
                    <th>Ingreso</th>
                    <th>Ingreso factura</th>
                    <th>Devolucion</th>
                    <th>Clave Rastreo</th>
                    <th>Participante</th>
                    <th>Clave</th>
                    <th>Confirmacion</th>
                    <th>Concepto <br>factura</th>
                    <th>Devolucion</th>
                    <th>Recibo(s)</th>
                    <th>Factura</th>
                </tr>
            </thead>
            <tbody>
                {% if pagos %} {% for p in pagos %}
                <tr>
                    <!-- <td>
                        <a href="{{ url_for('pagos.pagos_detalles', id = p.id_pago) }}" class="botones-ver"
                            aria-label="Ver detalles de {{ p.nombre_participante }}">
                            <i class="fa fa-eye" style="font-size: 18px;"></i>
                        </a>
                    </td> -->
                    <td>{{ loop.index }}</td>
                    <td>{{ p.fecha_pago }}</td>
                    <td>{{ p.nombre_forma }}</td>
                    <td>{{ p.cuenta_destino }}</td>
                    <td><input type="checkbox" readonly disabled {% if p.factura_pago %}checked{% endif %}></td>
                    <td>{{ p.ingresos }}</td>
                    <td>{{ p.ingreso_factura }}</td>
                    <td>{{ p.devolucion }}</td>
                    <td>{{ p.clave_rastreo }}</td>
                    <td>{{ p.nombre_participante }}</td>
                    <td>{{ p.clave_participante }}</td>

                    <td>
                        {% if p.validacion_pago == 3 %}
                        Validado
                        {% elif p.validacion_pago == 2 %}
                        Pendiente
                        {% else %}
                        No encontrado
                        {% endif %}
                    </td>

                    <td>{{ p.concepto_factura }}</td>
                    <td>
                        <button type="button" class="botones-editar" data-bs-toggle="modal"
                            data-bs-target="#modalEditarDevolucion-{{p.id_pago}}" aria-label="Agregar devolucion">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td>
                        <a class="botones-editar" href="{{ url_for('pagos.pagos_comprobantes', id = p.id_pago) }}"><i
                                class="fas fa-receipt"></i></a>
                    </td>
                    <td>
                        <button type="button" class="botones-editar" data-bs-toggle="modal"
                            data-bs-target="#modalAgregar-{{p.id_pago}}" aria-label="Editar pago">
                            <i class="fa fa-plus"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td align="center" colspan="17">No existen pagos</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </section>

    <section class="table-responsive table-sm">
        <table class="table table-hover">
            <thead>
                <tr style="align-items: center;" align="center">
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Concepto</th>
                </tr>
            </thead>

            <tbody>
                {% if gastos %} {% for g in gastos %}
                <tr style="align-items: center;" align="center">
                    <td>{{ loop.index }}</td>
                    <td>{{ g.fecha }}</td> {# fecha #}
                    <td>${{ g.monto_gasto }}</td> {# monto_gasto #}
                    <td>{{ g.nombre_gasto }}</td> {# nombre_gasto #}

                    {% endfor %} {% else %}
                <tr>
                    <td align="center" colspan="4">No existen gastos</td>
                </tr>
                {% endif %}
                </tr>
            </tbody>
        </table>
    </section>

    <!-- -------------------------------------------------PAGINADOR----------------------------------------------- -->
    <nav class="pagination-container mt-4" aria-label="Page navigation" class="justify-content-center">
        <ul class="pagination justify-content-center" style="margin:20px 0">
            {% if page > 1 %}
            <li class="page-item">
                <a class="page-link"
                    href="{{url_for('pagos.pagos_buscar')}}?page={{ page - 1 }}&per_page={{ per_page }}"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% if page != 1 and page != 2 %}
            <li class="page-item"><a class="page-link" href="{{url_for('pagos.pagos_buscar')}}">1</a></li>
            {% if page != 3 %}
            <li class="page-item"><a class="page-link disabled">...</a></li>
            {% endif %}
            {% endif %}
            <li class="page-item"><a class="page-link"
                    href="{{url_for('pagos.pagos_buscar')}}?page={{ page - 1 }}&per_page={{ per_page }}">{{page-1}}</a>
            </li>
            {% endif %}

            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page }}</span>
            </li>

            {% if page < total_pages %} <li class="page-item"><a class="page-link"
                    href="{{url_for('pagos.pagos_buscar')}}?page={{ page + 1 }}&per_page={{ per_page }}">{{page+1}}</a>
                </li>
                {% if page != total_pages and page != total_pages-1 %}
                {% if page != total_pages-2 %}
                <li class="page-item"><a class="page-link disabled">...</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link"
                        href="{{url_for('pagos.pagos_buscar')}}?page={{ total_pages }}&per_page={{ per_page }}">{{total_pages}}</a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link"
                        href="{{url_for('pagos.pagos_buscar')}}?page={{ page + 1 }}&per_page={{ per_page }}"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
        </ul>
    </nav>

    <div class="modal fade" id="modalAgregarGasto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalAgregarGastoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content rounded-4 shadow-lg">
                <form action="{{ url_for('pagos.pagos_nuevo') }}" method="post">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="modalAgregarGastoLabel">Agregar Gasto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>

                    <div class="modal-body px-4">
                        <!-- Tokens y filtros ocultos -->
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        <!-- Campos del formulario -->
                        <div class="input-group">
                            <div class="mb-3">
                                <input type="number" name="gasto" id="gasto" class="input-field" placeholder="0.00"
                                    min="0" step="1.00" required>
                                <label for="gasto" class="input-label">Cantidad</label>
                            </div>
                        </div>

                        <div class="input-group">
                            <div class="mb-3">
                                <select name="conceptos" id="conceptos" class="form-select" required>
                                    <option value="">Selecciona un concepto</option>
                                    {% for g in gasto %}
                                    <option value="{{ g[0] }}">{{ g[1] }}</option>
                                    {% endfor %}
                                </select>
                                <label for="conceptos" class="input-label">Concepto</label>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer border-top-0 d-flex justify-content-end gap-2 px-4 pb-4">
                        <button type="button" class="botones-cancelar rounded-pill px-4"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="botones-guardar rounded-pill px-4">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if pagos %} {% for p in pagos %}
    <div class="modal fade" id="modalAgregar-{{p.id_pago}}" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="modalAgregarFacturaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="{{ url_for('pagos.factura_nueva', id=p.id_pago) }}" method="post" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarLabel-{{p.nombre_participante}}">
                        Agregar Factura
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                    <!-- Select de concepto -->
                    <div class="mb-3">
                        <label for="concepto_factura-{{p.id_pago}}" class="form-label">Concepto de Factura</label>
                        <select class="form-select concepto-select" name="concepto_factura"
                            id="concepto_factura-{{p.id_pago}}" required>
                            <option value="" disabled selected>Selecciona un concepto</option>
                            {% if conceptos %}
                            {% for con in conceptos %}
                            <option value="{{ con[0] }}" data-iva="{{ con[2] }}">
                                {{ con[1] }}
                            </option>
                            {% endfor %}
                            {% else %}
                            <option value="">No hay conceptos</option>
                            {% endif %}
                        </select>
                    </div>

                    <!-- Campo de ingreso con IVA -->
                    <div class="mb-2">
                        <input type="number" name="ingreso_factura" id="ingreso_factura-{{p.id_pago}}"
                            class="input-field" step="0.01" value="{{ p.ingresos or 0 }}" placeholder="0.00"
                            data-base="{{ p.ingresos or 0 }}">
                        <label for="ingreso_factura-{{p.id_pago}}" class="input-label">Ingreso factura</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="botones-cancelar" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="botones-guardar">Guardar</button>
                </div>
            </form>
        </div>
    </div>


    <div class="modal fade" id="modalEditarDevolucion-{{ p.id_pago }}" data-bs-backdrop="static"
        data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEditarDevolucionLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="{{url_for('pagos.pagos_devolucion', id=p.id_pago)}}" method="post" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarLabel-{{p.nombre_participante}}">
                        Agregar devolucion
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="mb-2">
                        <label class="form-label">Monto de devolucion</label>
                        {% if p.ingresos or p.ingreso_factura %}
                        {% if p.ingresos != 0 %}
                        <input type="number" name="devolucion" id="devolucion" class="form-control"
                            value="{{ ((p.ingresos or 0) - ((p.ingresos or 0) * 0.16)) | round(2) }}"
                            placeholder="{{ ((p.ingresos or 0) - ((p.ingresos or 0) * 0.16)) | round(2) }}">
                        {% else %}
                        <input type="number" name="devolucion" id="devolucion" class="form-control"
                            value="{{ ((p.ingreso_factura or 0) - ((p.ingreso_factura or 0) * 0.16)) | round(2) }}"
                            placeholder="{{ ((p.ingreso_factura or 0) - ((p.ingreso_factura or 0) * 0.16)) | round(2) }}">
                        {% endif %} {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="botones-cancelar" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="botones-guardar">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %} {% endif %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll("select[id^='concepto_factura']").forEach(select => {
                select.addEventListener("change", function () {
                    const selectedOption = this.options[this.selectedIndex];
                    const iva = parseFloat(selectedOption.dataset.iva || 0);
                    const idPago = this.id.split("-")[1];
                    const ingresoInput = document.getElementById(`ingreso_factura-${idPago}`);

                    if (!ingresoInput) {
                        console.warn(`No se encontró input para ingreso_factura-${idPago}`);
                        return;
                    }

                    const baseStr = ingresoInput.dataset.base;
                    const base = parseFloat(baseStr);

                    console.log('IVA:', iva, 'Base:', base, 'idPago:', idPago);

                    if (!isNaN(base) && !isNaN(iva)) {
                        ingresoInput.value = (base * (1 + iva)).toFixed(2);
                    }
                });
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const inputBuscar = document.querySelector("input[name='buscar']");
            const form = document.getElementById("formBuscar");

            inputBuscar.addEventListener("change", function () {
                form.submit();
            });
        });
    </script>

    <script>
        let debounceTimeout = null;

        document.querySelectorAll('.filtro-auto').forEach(select => {
            select.addEventListener('change', () => {
                clearTimeout(debounceTimeout);
                debounceTimeout = setTimeout(() => {
                    document.getElementById('filtroForm').submit();
                }, 400); // Espera 400ms tras el último cambio
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const formBuscar = document.getElementById('formBuscar');
            const filtroMes = document.getElementById('filtroMes');
            const filtroSemana = document.getElementById('filtroSemana');

            formBuscar.addEventListener('submit', function (e) {
                // Detectar si hay filtros activos
                const hayFiltros =
                    filtroMes?.value.trim() !== '' ||
                    filtroSemana?.value.trim() !== ''

                // Cambiar la ruta de acción según haya filtros
                if (hayFiltros) {
                    formBuscar.action = "{{ url_for('pagos.pagos_filtros') }}";
                } else {
                    formBuscar.action = "{{ url_for('pagos.pagos_buscar') }}";
                }
            });
        });
    </script>
</main>
{% endblock %}