{% extends './layout.html' %}

{% block body %}
<h2 class="text-center mb-4">Detalles de Empleado</h2>
<!-- BOTÓN CANCELAR -->
<div class="">
  <a class="botones" href="{{ url_for('empleados.empleadosBuscar') }}">
    <i class="fas fa-arrow-left"></i>
  </a>
</div>

<!-- FECHAS -->
<div class="mb-3 text-center text-muted">
  <p><strong>Fecha de creación:</strong> {{ empleado.fecha_creacion }}</p>
  <p><strong>Última modificación:</strong> {{ empleado.fecha_modificacion }}</p>
</div>

<!-- TABLA DE DETALLES -->
<div class="table-responsive">
  <table class="table table-bordered text-center align-middle">
    <thead class="">
      <tr>
        <th>Nombre(s)</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Usuario</th>
        <th>Correo Electrónico</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ empleado.nombre_empleado }}</td>
        <td>{{ empleado.apellido_pat }}</td>
        <td>{{ empleado.apellido_mat }}</td>
        <td>{{ empleado.nombre_usuario }}</td>
        <td>{{ empleado.correo_empleado }}</td>
        <td>{{ empleado.nombre_rol }}</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}