{% extends './layout.html' %}
{% block body %}

<!-- -----------------Alertas de registro, editado, borrado y restaurado---------------------------- -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if " Error" in message %}danger {% elif "Advertencia" in message %}warning {% else %}success
    {% endif %} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="form-container">
    <form method="POST" class="" action="{{ url_for('constancias.constancias_actualizar' ,id = participante[0]) }}">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

        <div class="espacio_form">
            <label>Clave participante:</label>
            <input type="text" name="clave_participante" value="{{ participante[2] }}" required>
        </div>

        <div class="espacio_form">
            <label>Nombre participante:</label>
            <input type="text" name="nombre_participante" value="{{ participante[3] }}" required>
        </div>

        <div class="espacio_form">
            <label>Horario inicio:</label>
            <input type="time" name="horario_inicio" value="{{ participante[22] }}" required>
        </div>

        <div class="espacio_form">
            <label>Horario fin:</label>
            <input type="time" name="horario_fin" value="{{ participante[23] }}" required>
        </div>

        <div class="espacio_form">
            <label>Fecha:</label>
            <input type="date" name="fecha" value="{{participante[21] }}" required>
        </div>

        <div class="espacio_form">
            <select name="id_categoria" id="id_categoria" class="form-select">
                <option value="true" selected>Categoria</option>
                {% if categorias %}
                {% for categoria in categorias %}
                <option value="{{categoria.0}}" {% if categoria.1==participante[30] %} selected {% endif %}>{{
                    categoria.1 }}</option>
                {% endfor %}
                {% else %}
                <option>Aun no hay registros</option>
                {% endif %}
            </select>
        </div>

        <button type="submit">Guardar cambios</button>
    </form>
</div>

{% endblock %}