{% extends './layout.html' %}
{% block body %}

<!-- -----------------Alertas de registro, editado, borrado y restaurado---------------------------- -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if " Error" in message %}danger {% elif "Advertencia" in message %}warning {% else %}success
    {% endif %} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="form-container">
    <form method="POST">
        <label>Clave participante:</label>
        <input type="text" name="clave_participante" value="{{ participante.clave_participante }}" required><br><br>

        <label>Nombre participante:</label>
        <input type="text" name="nombre_participante" value="{{ participante.nombre_participante }}" required><br><br>

        <label>Nombre del curso:</label>
        <input type="text" name="nombre_curso" value="{{ curso.nombre_curso }}" required><br><br>

        <label>Horario inicio:</label>
        <input type="time" name="horario_inicio" value="{{ curso.horario_inicio }}" required><br><br>

        <label>Horario fin:</label>
        <input type="time" name="horario_fin" value="{{ curso.horario_fin }}" required><br><br>

        <label>Fecha:</label>
        <input type="date" name="fecha" value="{{ curso.fecha }}" required><br><br>

        <label>Categoría:</label>
        <input type="text" name="categoria" value="{{ curso.categoria }}" required><br><br>

        <label>Ponente:</label>
        <input type="text" name="ponente" value="{{ curso.ponente }}" required><br><br>

        <button type="submit">Guardar cambios</button>
    </form>
</div>

{% endblock %}