{% extends './layout.html' %}

{% block body %}
<h2>Datos de constancias</h2>
<br>

<!-- Alertas -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if " Error" in message %}danger{% elif "Advertencia" in message %}warning{% else %}success{%
    endif %} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!-- Filtros de búsqueda -->
<div>
    <form method="get" action="{{ url_for('constancias.constancias_buscar') }}" class="d-flex">
        <div class="espacio_form">
            <select name="nombre_categoria" id="nombre_categoria">
                <option value="">-Seleccione la categoria-</option>
                {% if categorias %}
                {% for categoria in categorias %}
                <option value="{{ categoria.1 }}" {% if request.args.get('nombre_categoria')==categoria.1 %}selected{%
                    endif %}>
                    {{ categoria.1 }}
                </option>
                {% endfor %}
                {% else %}
                <option>Aún no hay registros</option>
                {% endif %}
            </select>
        </div>

        <div class="espacio_form">
            <select name="sesion" id="sesion">
                <option value="">-Seleccione la sesión-</option>
                {% if sesiones %}
                {% for sesion in sesiones %}
                {% if sesion.4 == True %}
                <option value="{{ sesion.1 }}" {% if request.args.get('sesion')==sesion.1 %}selected{% endif %}>
                    {{ sesion.1 }} | {{ sesion.2 }} - {{ sesion.3 }}
                </option>
                {% endif %}
                {% endfor %}
                {% else %}
                <option>Aún no hay registros</option>
                {% endif %}
            </select>
            <button type="submit">Aceptar</button>
        </div>
    </form>
</div>

<!-- Tabla de resultados -->
<div class="tables_participantes">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-nowrap">Ver más</th>
                <th class="text-nowrap">Generar constancia</th>
                <th class="text-nowrap">Editar</th>
                <th class="text-nowrap">Clave Participante</th>
                <th class="text-nowrap">Nombre Participante</th>
                <th class="text-nowrap">Curso</th>
                <th class="text-nowrap">Pago validado</th>
                <th class="text-nowrap">Constancia generada</th>
                <th class="text-nowrap">Constancia enviada</th>
                <th class="text-nowrap">Fecha de envío</th>
                <th class="text-nowrap">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if constancias %}
            {% set mostrar_una = True %}
            {% for p in constancias %}
            {% if p.nombre_categoria == 'Especializacion' and p.solo_global and mostrar_una %}
            {% set mostrar_una = False %}
            <tr data-id="{{ p.id_participante }}">
                <!-- Botón Detalles -->
                <td>
                    <a href="{{ url_for('constancias.constancias_detalles', id=p.id_participante) }}">
                        <li class="fa fa-eye" style="font-size: 18px;"></li>
                    </a>
                </td>
                <!-- Botón Descargar -->
                <td>
                    <button class="botones" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop-{{ p.id_participante }}">
                        <li class="fas fa-download" style="font-size: 18px;"></li>
                    </button>
                </td>
                <!-- Botón Editar -->
                <td>
                    <a
                        href="{{ url_for('constancias.constancias_editar', id=p.id_participante, curso=p.nombre_curso, fecha=p.fecha) }}">
                        <li class="fa fa-edit" style="font-size: 18px;"></li>
                    </a>
                </td>

                <td class="text-nowrap">{{ p.clave_participante }}</td>
                <td class="text-nowrap">{{ p.nombre_participante }} <br> {{ p.apellidos_participante }}</td>
                <td class="truncate-text">{{ p.nombre_curso }}</td>
                <td class="text-nowrap">{{ p.validacion_pago }}</td>
                <td class="text-nowrap">
                    <input type="checkbox" readonly {% if p.constancia_generada %}checked{% endif %} disabled>
                </td>

                <form class="d-flex" method="post"
                    action="{{ url_for('constancias.modificar_constancia') }}?id={{ p.id_participante }}&id_curso={{ p.curso_id }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <td class="text-nowrap">
                        <input type="checkbox" name="constancia_enviada" {% if p.constancia_enviada %}checked{% endif
                            %}>
                    </td>
                    <td class="text-nowrap">
                        <input type="date" name="fecha_envio" value="{{ p.fecha_envio | default('', true) }}">
                    </td>
                    <td class="text-nowrap">
                        <button type="submit">Guardar</button>
                    </td>
                </form>
            </tr>
            {% elif not (p.nombre_categoria == 'Especializacion' and p.solo_global and p.constancia_enviada == True) %}
            <!-- Mostrar normalmente -->
            <tr data-id="{{ p.id_participante }}">
                <td>
                    <a href="{{ url_for('constancias.constancias_detalles', id=p.id_participante) }}">
                        <li class="fa fa-eye" style="font-size: 18px;"></li>
                    </a>
                </td>
                <td>
                    <button class="botones" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop-{{ p.id_participante }}">
                        <li class="fas fa-download" style="font-size: 18px;"></li>
                    </button>
                </td>
                <td>
                    <a
                        href="{{ url_for('constancias.constancias_editar', id=p.id_participante, curso=p.nombre_curso, fecha=p.fecha) }}">
                        <li class="fa fa-edit" style="font-size: 18px;"></li>
                    </a>
                </td>

                <td class="text-nowrap">{{ p.clave_participante }}</td>
                <td class="text-nowrap">{{ p.nombre_participante }} <br> {{ p.apellidos_participante }}</td>
                <td class="truncate-text">{{ p.nombre_curso }}</td>
                <td class="text-nowrap">{{ p.validacion_pago }}</td>
                <td class="text-nowrap">
                    <input type="checkbox" readonly {% if p.constancia_generada %}checked{% endif %} disabled>
                </td>

                <form class="d-flex" method="post"
                    action="{{ url_for('constancias.modificar_constancia') }}?id={{ p.id_participante }}&id_curso={{ p.curso_id }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <td class="text-nowrap">
                        <input type="checkbox" name="constancia_enviada" {% if p.constancia_enviada %}checked{% endif
                            %}>
                    </td>
                    <td class="text-nowrap">
                        <input type="date" name="fecha_envio" value="{{ p.fecha_envio | default('', true) }}">
                    </td>
                    <td class="text-nowrap">
                        <button type="submit">Guardar</button>
                    </td>
                </form>
            </tr>
            {% endif %}
            {% endfor %}
            {% else %}
            <tr>
                <td align="center" colspan="12">No existen participantes</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<!-- Botón para ver constancias generadas -->
<div>
    <br>
    <a href="{{ url_for('constancias.constancias_hechas') }}"
        class="btn btn-outline-danger d-inline-flex align-items-center">
        <li class="fa fa-folder" style="font-size: 18px;"></li>
    </a>
</div>

<!-- Modal de folio de constancias -->
{% if constancias %}
{% for p in constancias %}
<form
    action="{{ url_for('constancias.folio_constancia') }}?id={{ p.id_participante }}&curso={{ p.nombre_curso }}&fecha={{ p.fecha }}"
    method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="modal fade" id="staticBackdrop-{{ p.id_participante }}" data-bs-backdrop="static"
        data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar folio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" name="folio_constancia" placeholder="Folio de la constancia" class="form-control"
                        required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary"
                        onclick="enviarFolioYGenerar('{{ p.id_participante }}', '{{ p.nombre_curso }}', '{{ p.fecha }}')">Guardar
                        y generar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Script para generación de constancia -->
<script>
    function enviarFolioYGenerar(id, curso, fecha) {
        const form = new FormData();
        const folio = document.querySelector(`#staticBackdrop-${id} input[name='folio_constancia']`).value;
        form.append("folio_constancia", folio);

        fetch(`/constancias/folio/?id=${id}&curso=${encodeURIComponent(curso)}&fecha=${fecha}`, {
            method: "POST",
            body: form,
            headers: {
                "X-CSRFToken": "{{ csrf_token() }}"
            }
        }).then(res => {
            if (res.redirected) {
                window.open(res.url, '_blank');
                setTimeout(() => location.reload(), 2000);
            }
        });
    }
</script>

{% endfor %}
{% endif %}

{% endblock %}