{% extends './layout.html' %}
{% block body %}
<h2>Datos de constancias</h2>
<br>

<!-- Alertas -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if " Error" in message %}danger{% elif "Advertencia" in message %}warning{% else %}success{%
    endif %} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}


<div>
    <form method="get" action="{{ url_for('constancias.constancias_buscar') }}" class="d-flex">
        <!-- Buscar por sesión/curso -->
        <div class="espacio_form">
            <select name="nombre_categoria" id="nombre_categoria">
                <option value="">-Seleccione la categoria-</option>
                {% if categorias %}
                {% for categoria in categorias %}
                <option value="{{ categoria.1 }}" {% if request.args.get('nombre_categoria')==categoria.1 %}selected{%
                    endif %}>
                    {{ categoria.1 }}
                </option>
                {% endfor %}
                {% else %}
                <option>Aún no hay registros</option>
                {% endif %}
            </select>
        </div>

        <div class="espacio_form">
            <select name="sesion" id="sesion">
                <option value="">-Seleccione la sesion-</option>
                {% if sesiones %}
                {% for sesion in sesiones %}
                <option value="{{ sesion.1 }}" {% if request.args.get('sesion')==sesion.1 %}selected{% endif %}>
                    {{ sesion.7 }} | {{ sesion.1 }} </option>
                {% endfor %}
                {% else %}
                <option>Aún no hay registros</option>
                {% endif %}
            </select>
            <button type="submit">Aceptar</button>
        </div>

    </form>
</div>

<!-- Tabla de resultados -->
<div class="tables_participantes">
    <table>
        <thead>
            <tr>
                <th>Ver mas</th>
                <th>Generar constancia</th>
                <th>Editar</th>
                <th>Clave Participante</th>
                <th>Nombre Participante</th>
                <th>Curso</th>
                <th>Pago validado</th>
                <th>Constancia generada</th>
                <th>Folio de constancia</th>
                <th>Constancia enviada</th>
                <th>Fecha de envio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if constancias %}
            {% for p in constancias %}
            {% if p.constancia_enviada == True %}
            <tr data-id="{{ p.id_participante }}">
                <td>
                    <a class="botones-ver"
                        href="{{url_for('constancias.constancias_detalles',id = p.id_participante)}}">
                        <li class="fa fa-eye" style="font-size: 18px;"></li>
                    </a>
                </td>
                <td>
                    <a class="botones-ver"
                        onclick="generarConstancia('{{ p.id_participante }}', '{{ p.nombre_curso }}', '{{ p.fecha }}', '{{ p.curso_id }}')">
                        <li class="fas fa-download" style="font-size: 18px;"></li>
                    </a>

                </td>
                <td>
                    <a class="botones-editar"
                        href="{{ url_for('constancias.constancias_editar', id = p.id_participante, curso = p.nombre_curso, fecha = p.fecha) }}">
                        <li class="fa fa-edit" style="font-size: 18px;"></li>
                    </a>
                </td>
                <td>{{ p.clave_participante }}</td>
                <td>{{ p.nombre_participante }} {{ p.apellidos_participante }}</td>
                <td>{{ p.nombre_curso }}</td>
                <td>{{ p.validacion_pago }}</td>
                <td><input type="checkbox" {% if p.constancia_generada %}checked{% endif %}>
                    <form class="d-flex" method="post"
                        action="{{ url_for('constancias.modificar_constancia') }}?id={{ p.id_participante }}&id_curso={{ p.curso_id }}">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <td><input type="text" name="folio_constancia" value="{{p.folio_constancia}}"></td>
                <td> <input type="checkbox" name="constancia_enviada" {% if p.constancia_enviada %}checked{% endif %}>
                </td>
                <td><input type="date" name="fecha_envio" value="{{ p.fecha_envio|default('', true) }}"></td>
                <td><button type="submit">Guardar</button></td>
                </form>

                {% endif %}
                {% endfor %}
                {% else %}
            <tr>
                <td align="center" colspan="4">No existen participantes</td>
            </tr>
            {% endif %}
        </tbody>

    </table>
</div>

<div>
    <br>
    <a href="{{ url_for('constancias.constancias_hechas') }}"
        class="btn btn-outline-danger d-inline-flex align-items-center">
        <li class="fa fa-folder" style="font-size: 18px;"></li>
    </a>
</div>


<script>
    function generarConstancia(id, curso, fecha, id_curso) {
        const url = `/constancias/constancia?id=${id}&curso=${encodeURIComponent(curso)}&fecha=${fecha}&id_curso=${id_curso}`;

        // Abrir descarga en nueva pestaña
        window.open(url, '_blank');

        // Esperar unos segundos y luego recargar la página actual
        setTimeout(() => {
            location.reload();
        }, 2000); // 2 segundos, puedes ajustarlo si hace falta más tiempo para la generación
    }
</script>

{% endblock %}