{% extends './layout.html' %}
{% block body %}
<h2>Participantes</h2>
<br>

<!-- Alertas -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if " Error" in message %}danger{% elif "Advertencia" in message %}warning{% else %}success{%
    endif %} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}


<div>
    <form method="get" action="{{ url_for('constancias.constancias_buscar') }}" class="d-flex">
        <!-- Buscar por sesión/curso -->
        <div class="espacio_form">
            <select name="nombre_curso" id="nombre_curso">
                <option value="">-Seleccione el curso-</option>
                {% if cursos %}
                {% for curso in cursos %}
                <option value="{{ curso.1 }}" {% if request.args.get('nombre_curso')==curso.1 %}selected{% endif %}>
                    {{ curso.1 }}
                </option>
                {% endfor %}
                {% else %}
                <option>Aún no hay registros</option>
                {% endif %}
            </select>
        </div>

        <div class="espacio_form">
            <select name="sesion" id="sesion">
                <option value="">-Seleccione la sesion-</option>
                {% if sesiones %}
                {% for sesion in sesiones %}
                <option value="{{ sesion.4 }}" {% if request.args.get('sesion')==sesion.4 %}selected{% endif %}>
                    {{ sesion.4 }} | {{ sesion.1 }} </option>
                {% endfor %}
                {% else %}
                <option>Aún no hay registros</option>
                {% endif %}
            </select>
            <button type="submit">Aceptar</button>
        </div>

    </form>
</div>

<!-- Tabla de resultados -->
<div class="tables_participantes">
    <table>
        <thead>
            <tr>
                <th>Ver mas</th>
                <th>Clave Participante</th>
                <th>Nombre Participante</th>
                <th>Pago validado</th>
            </tr>
        </thead>
        <tbody>
            {% if constancias %}
            {% for p in constancias %}
            {% if p.estado == True %}
            <tr data-id="{{ p.id_participante }}">
                <td>{{ p.clave_participante }}</td>
                <a class="botones-ver"
                    href="{{url_for('constancias.constancias_detalles',id = constancias.id_participante)}}">
                    <li class="fa fa-eye" style="font-size: 18px;"></li>
                </a>
                <td>{{ p.nombre_participante }}</td>

                <td>{{ p.validacion_pago }}</td>
                {% endif %}
                {% endfor %}
                {% else %}
            <tr>
                <td align="center" colspan="4">No existen participantes</td>
            </tr>
            {% endif %}
        </tbody>

    </table>
</div>

{% endblock %}