{% extends './layout.html' %} {% block body %}
<main class="container my-4">
        <h2 class="text-center mb-4">Paquetes</h2>

        <!-- -----------------Alertas de registro, editado, borrado y restaurado---------------------------- -->
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <div class="alert alert-dismissible fade show alert-fixed {% if 'Error' in message %}alert-danger{% elif 'Advertencia' in message %}alert-warning{% else %}alert-success{% endif %}"
                role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %} {% endif %} {% endwith %}

        <section class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
                <button type="button" class="botones" data-bs-toggle="modal" data-bs-target="#modalAgregarPaquete">
                        <i class="fa fa-plus mr-2" style="font-size: 18px;"></i> Nuevo
                </button>
                <!-- -------------------------------------BUSCADOR------------------------------------------ -->
                <form method="get" action="{{ url_for('paquete.paquetes_buscar') }}"
                        class="d-flex flex-grow-1 justify-content-end">
                        <div class="input-group" style="max-width: 300px;">
                                <input class="form-control mr-2" type="text" name="buscar" value="{{ search_query }}"
                                        placeholder="Buscar..." required>
                                <button type="submit" class="botones-ver ms-2" aria-label="Buscar">
                                        <i class="fas fa-search"></i>
                                </button>
                        </div>
                </form>
        </section>

        <!-- ------------------------------TABLE -------------------------------- -->
        <section class="table-responsive table-sm">
                <table class="table-hover table">
                        <thead>
                                <tr align="center">
                                        <th>Ver</th>
                                        <th>Nombre paquete</th>
                                        <th>Precio</th>
                                        <th>Categoria</th>
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                                </tr>
                        </thead>
                        <tbody>
                                {% if paquetes %}
                                {% for paquete in paquetes %}
                                {% if paquete.estado == True %}
                                <tr align="center">
                                        <td>
                                                <a class="botones-ver"
                                                        href="{{url_for('paquete.paquete_detalles',id = paquete.id_paquete)}}">
                                                        <li class="fa fa-eye" style="font-size: 18px;"></li>
                                                </a>
                                        </td>
                                        <td>{{paquete.nombre_paquete}}</td>
                                        <td>${{paquete.precio_paquete}}</td>
                                        <td>{{paquete.nombre_categoria}}</td>
                                        <td>
                                                <button type="button" class="botones-editar" data-bs-toggle="modal"
                                                        data-bs-target="#modalEditar-{{paquete.id_paquete}}">
                                                        <li class="fa fa-edit" style="font-size: 18px;"></li>
                                                </button>
                                        </td>
                                        <td>
                                                <button class="botones-eliminar" type="button" data-bs-toggle="modal"
                                                        data-bs-target="#staticBackdrop-{{paquete.id_paquete}}">
                                                        <li class="fa fa-trash" style="font-size: 18px;"></li>
                                                </button>
                                        </td>
                                        {% endif %}
                                        {% endfor %}
                                        {% else %}
                                <tr>
                                        <td align="center" colspan="8">No existen paquetes</td>
                                </tr>
                                {% endif %}
                                </tr>
                        </tbody>
                </table>
        </section>

        <!-- -------------------------------------------------PAGINADOR----------------------------------------------- -->
        <nav aria-label="Page navigation" class="pagination-container mt-4">
                <ul class="pagination justify-content-center" style="margin:20px 0">
                        {% if page > 1 %}
                        <li class="page-item">
                                <a class="page-link"
                                        href="{{url_for('paquetes_buscar')}}?page={{ page - 1 }}&per_page={{ per_page }}"
                                        aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                </a>
                        </li>
                        {% if page != 1 and page != 2 %}
                        <li class="page-item"><a class="page-link" href="{{url_for('paquetes_buscar')}}">1</a></li>
                        {% if page != 3 %}
                        <li class="page-item"><a class="page-link disabled">...</a></li>
                        {% endif %}
                        {% endif %}
                        <li class="page-item"><a class="page-link"
                                        href="{{url_for('paquetes_buscar')}}?page={{ page - 1 }}&per_page={{ per_page }}">{{page-1}}</a>
                        </li>
                        {% endif %}

                        <li class="page-item active" aria-current="page">
                                <span class="page-link">{{ page }}</span>
                        </li>


                        {% if page < total_pages %} <li class="page-item"><a class="page-link"
                                        href="{{url_for('paquetes_buscar')}}?page={{ page + 1 }}&per_page={{ per_page }}">{{page+1}}</a>
                                </li>
                                {% if page != total_pages and page != total_pages-1 %}
                                {% if page != total_pages-2 %}
                                <li class="page-item"><a class="page-link disabled">...</a></li>
                                {% endif %}
                                <li class="page-item"><a class="page-link"
                                                href="{{url_for('paquetes_buscar')}}?page={{ total_pages }}&per_page={{ per_page }}">{{total_pages}}</a>
                                </li>
                                {% endif %}
                                <li class="page-item">
                                        <a class="page-link"
                                                href="{{url_for('paquetes_buscar')}}?page={{ page + 1 }}&per_page={{ per_page }}"
                                                aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                        </a>
                                </li>
                                {% endif %}
                </ul>
        </nav>

        <!-- -----------------------------------------------PAPELERA--------------------------------------------------- -->
        <aside class="mt-3">
                <a href="{{ url_for('paquete.paquetes_papelera') }}" class="botones-papelera px-5 py-2 rounded-pill">
                        <li class="fa fa-folder mr-2" style="font-size: 18px;"></li> Papelera
                </a>
        </aside>

        <!-- --------------------------------------------------MODAL DE AGREGAR-------------------------------------------------- -->
        <div class="modal" id="modalAgregarPaquete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="modalAgregarEmpleadoLabel" aria-hidden="true">
                <div class="modal-dialog">
                        <form action="{{url_for('paquete.paquete_nuevo')}}" method="post" class="modal-content">
                                <div class="modal-header">
                                        <h5 class="modal-title" id="modalAgregarPaquetelabel">Agregar Paquete</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Cerrar"></button>
                                </div>
                                <div class="modal-body">
                                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

                                        <div class="input-group">
                                                <input type="text" class="input-field" id="nombre_paquete"
                                                        name="nombre_paquete" placeholder="" required>
                                                <label for="nombre" class="input-label">Paquete</label>
                                        </div>

                                        <div class="input-group">
                                                <input class="input-field" type="number" id="precio_paquete"
                                                        placeholder="" name="precio_paquete" required>
                                                <label for="nombre" class="input-label">Precio del paquete</label>
                                        </div>

                                        <div class="input-group">
                                                <select name="id_categoria" id="id_categoria"
                                                        aria-label="Default select example" class="form-select">
                                                        <option value="true" selected>Seleccione la Categoria
                                                        </option>
                                                        {% if categorias %}
                                                        {% for categoria in categorias %}
                                                        <option value="{{categoria.0}}">{{categoria.1}}</option>
                                                        {% endfor %}
                                                        {% else %}
                                                        <option>Aún no hay registros</option>
                                                        {% endif %}
                                                </select>
                                                <label for="id_categoria" class="input-label">Categoria</label>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="botones" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="botones-guardar">Guardar</button>
                                </div>
                        </form>
                </div>
        </div>

        <!-- -------------------------------------------------- MODAL ELIMINAR --------------------------------------------------- -->
        {% if paquetes %} {% for paquete in paquetes %}
        <div class="modal fade" id="staticBackdrop-{{paquete.id_paquete}}" data-bs-backdrop="static"
                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Confirmar acción</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                        ¿Deseas eliminar el paquete <strong>{{ paquete.nombre_paquete }}</strong>?
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancelar</button>
                                        <a class="btn btn-danger"
                                                href="{{ url_for('paquete.paquete_eliminar', id = paquete.id_paquete) }}"
                                                class="btn-delete"><i class="fas fa-trash-alt"></i>Eliminar</a>
                                </div>
                        </div>
                </div>
        </div>

        <!-------------------------------------------------------- MODAL EDITAR -------------------------------------------------------->
        <div class="modal fade" id="modalEditar-{{paquete.id_paquete}}" tabindex="-1"
                aria-labelledby="modalLabel-{{paquete.id_paquete}}" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-content">
                                <form method="POST"
                                        action="{{ url_for('paquete.paquete_actualizar', id=paquete.id_paquete) }}">
                                        <div class="modal-header">
                                                <h5 class="modal-title" id="modalLabel-{{paquete.id_paquete}}">Editar
                                                        Paquete
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Cerrar"></button>
                                        </div>
                                        <div class="modal-body">
                                                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                                                <div class="input-group">
                                                        <div class="mb-3">

                                                                <input type="text" class="input-field"
                                                                        id="nombre-{{paquete.id_paquete}}" name="nombre"
                                                                        value="{{paquete.nombre_paquete}}" required>
                                                                <label for="nombre-{{paquete.id_paquete}}"
                                                                        class="input-label">Nombre</label>
                                                        </div>
                                                </div>
                                                <div class="input-group">
                                                        <div class="mb-3">

                                                                <input type="number" class="input-field"
                                                                        id="precio-{{paquete.id_paquete}}" name="precio"
                                                                        value="{{paquete.precio_paquete}}" required>
                                                                <label for="precio-{{paquete.id_paquete}}"
                                                                        class="input-label">Precio</label>
                                                        </div>
                                                </div>
                                                <div class="input-group">
                                                        <select name="id_categoria" id="id_categoria"
                                                                class="form-select" aria-label="Seleccione categoría">
                                                                <option value="true">Seleccione la categoría
                                                                </option>
                                                                {% for categoria in categorias %}
                                                                <option value="{{ categoria.0 }}" {% if
                                                                        categoria.1==paquete.nombre_categoria %}
                                                                        selected {% endif %}>
                                                                        {{ categoria.1 }}
                                                                </option>
                                                                {% endfor %}
                                                        </select>
                                                        <label for="categoria" class="input-label">Categoria</label>
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                                <button type="button" class="botones"
                                                        data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="botones-guardar">Guardar</button>
                                        </div>
                                </form>
                        </div>
                </div>
        </div>

        {% endfor %} {% else %} {% endif %}

</main>

{% endblock %}