{% extends '/layout.html' %} {% block body %}
<main class="container my-4">
    <h2 class="text-center mb-4">Temas de Cursos</h2>

    <!-- -----------------Alertas de registro, editado, borrado y restaurado---------------------------- -->
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="alert alert-dismissible fade show alert-fixed {% if 'Error' in message %}alert-danger{% elif 'Advertencia' in message %}alert-warning{% else %}alert-success{% endif %}"
        role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <section class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
        <!-- Botón para abrir modal de nuevo tema -->
        <button class="botones" data-bs-toggle="modal" data-bs-target="#modalAgregarTema"
            aria-label="Agregar Nuevo Tema">
            <i class="fa fa-plus" style="font-size: 18px;"></i>Nuevo
        </button>

        <form method="get" action="{{ url_for('temas.temas_buscar') }}" class="d-flex flex-grow-1 justify-content-end">
            <div class="input-group" style="max-width: 300px;">
                <input class="form-control mr-2" type="text" name="buscar" value="{{ search_query }}"
                    placeholder="Buscar..." required>
                <button class="botones-ver ms-2" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </section>

    <section class="table-responsive table-sm">
        <table class="table table-hover">
            <thead>
                <tr align="center">
                    <th>Tema</th>
                    <th>Sector</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% if temas %}
                {% for tema in temas %}
                <tr align="center">
                    <td>{{ tema.nombre_tema }}</td>
                    <td>{{ tema.nombre_tipo }}</td>
                    <td>
                        <button class="botones-editar" type="button" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop-{{tema.id_tema}}">
                            <li class="fa fa-edit"></li>
                        </button>
                    </td>
                    {% endfor %}
                    {% else %}
                <tr>
                    <td align="center" colspan="8">No existen temas</td>
                </tr>
                {% endif %}
                </tr>
            </tbody>
        </table>
    </section>

    <nav class="pagination-container mt-4" aria-label="Page navigation">
        <ul class="pagination justify-content-center" style="margin:20px 0">
            {% if page > 1 %}
            <li class="page-item">
                <a class="page-link"
                    href="{{url_for('temas.temas_buscar')}}?page={{ page - 1 }}&per_page={{ per_page }}"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% if page != 1 and page != 2 %}
            <li class="page-item"><a class="page-link" href="{{url_for('temas.temas_buscar')}}">1</a></li>
            {% if page != 3 %}
            <li class="page-item"><a class="page-link disabled">...</a></li>
            {% endif %}
            {% endif %}
            <li class="page-item"><a class="page-link"
                    href="{{url_for('temas.temas_buscar')}}?page={{ page - 1 }}&per_page={{ per_page }}">{{page-1}}</a>
            </li>
            {% endif %}

            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page }}</span>
            </li>

            {% if page < total_pages %} <li class="page-item"><a class="page-link"
                    href="{{url_for('temas.temas_buscar')}}?page={{ page + 1 }}&per_page={{ per_page }}">{{page+1}}</a>
                </li>
                {% if page != total_pages and page != total_pages-1 %}
                {% if page != total_pages-2 %}
                <li class="page-item"><a class="page-link disabled">...</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link"
                        href="{{url_for('temas.temas_buscar')}}?page={{ total_pages }}&per_page={{ per_page }}">{{total_pages}}</a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link"
                        href="{{url_for('temas.temas_buscar')}}?page={{ page + 1 }}&per_page={{ per_page }}"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
        </ul>
    </nav>

    <!-- ----------------------------------------------------MODAL----------------------------- -->
    <!-- Modal para editar cada tema -->
    {% for tema in temas %}
    <div class="modal fade" id="staticBackdrop-{{ tema.id_tema }}" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="POST" class="modal-content formulario"
                action="{{ url_for('temas.tema_editar', id=tema.id_tema) }}">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Editar tema</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="mb-2">
                        <div class="input-group">
                            <input maxlength="100" type="text" name="nombre_tema" class="input-field" id="nombre_tema"
                                placeholder="Nombre del tema" value="{{ tema.nombre_tema }}" required>
                            <label for="nombre_tema" class="input-label">Nombre del Tema</label>
                        </div>
                    </div>

                    <div class="mb-2">
                        <div class="input-group">
                            <select name="id_tipo" id="id_tipo" class="form-select" required>
                                <option value="" disabled>Seleccione un sector</option>
                                {% if tipos %}
                                {% for tipo in tipos %}
                                <option value="{{ tipo.0 }}" {% if tipo.1==tema.nombre_tipo %} selected {% endif %}>
                                    {{ tipo.1 }}
                                </option>
                                {% endfor %}
                                {% else %}
                                <option disabled>No hay sectores registrados</option>
                                {% endif %}
                            </select>
                            <label for="id_tipo" class="input-label">Sector</label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="botones" data-bs-dismiss="modal">Cancelar</button>
                    <button class="botones-guardar" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}


    <!-- MODAL AGREGAR TEMA -->
    <div class="modal fade" id="modalAgregarTema" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalAgregarTemaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="POST" action="{{ url_for('temas.tema_nuevo') }}" class="modal-content formulario">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAgregarTemaLabel">Agregar Tema</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="input-group">
                        <div class="mb-3">
                            <input type="text" class="input-field" name="nombre_tema" required placeholder="">
                            <label for="nombre_tema" class="input-label">Nombre del Tema</label>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="mb-3">
                            <select name="tipo_id" class="form-select" required>
                                <option value="" disabled selected>Seleccione un sector</option>
                                {% if tipos %}
                                {% for tipo in tipos %}
                                <option value="{{ tipo.0 }}">{{ tipo.1 }}</option>
                                {% endfor %}
                                {% else %}
                                <option value="">Aun no hay registros</option>
                                {% endif %}
                            </select>
                            <label for="tipo_id" class="input-label">Sector</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="botones" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="botones-guardar">Guardar</button>
                </div>
            </form>
        </div>
    </div>

</main>

{% endblock %}