{% extends './layout.html' %}

{% block body %}
<h2>Detalles de Ponente</h2>
<p class="fc">Fecha creación: {{ ponente.fecha_creacion }}</p>
<p class="fc">Fecha modificación: {{ ponente.fecha_modificacion }}</p>
<br />
<!-- ----------------------------------------------------------------------------------------------- -->
<table>
  <thead>
    <tr>
      <th>Nombre completo</th>
      <th>CURP</th>
      <th>Cedula</th>
      <th>STPS </th>
      <th>CONOCER </th>
      <th>CONOCER </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ ponente.nombre_ponente }}</td>
      <td>{{ ponente.curp_ponente }}</td>
      <td>{{ ponente.cedula_ponente }}</td>
      <td>{{ ponente.stps_ponente }}</td>
      <td>{{ ponente.conocer_ponente }}</td>
      <td>{{ ponente.conocer_ponente }}</td>
    </tr>
  </tbody>
</table>
<div>
  <a
    class="botones"
    href="{{ url_for('ponentes.ponentes_buscar') }}">Cancelar</a>
</div>
{% endblock %}