{% extends './layout.html' %} {% block body %}

<main class="container my-4">
    <h2>Bienvenido(a) {{ perfil.nombre_empleado }} {{ perfil.apellido_pat }} {{ perfil.apellido_mat }}</h2>

    <!-- -----------------Alertas de registro, editado, borrado y restaurado---------------------------- -->
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="alert alert-dismissible fade show alert-fixed {% if 'Error' in message %}alert-danger{% elif 'Advertencia' in message %}alert-warning{% else %}alert-success{% endif %}"
        role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <section class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <td>{{ perfil.nombre_empleado }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ perfil.apellido_pat }} {{ perfil.apellido_mat }} </td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ perfil.nombre_usuario }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ perfil.correo_empleado }}</td>
            </tr>
            <tr>
                <th>Rol</th>
                <td>{{ perfil.nombre_rol }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ 'Activo' if perfil.estado else 'Inactivo' }}</td>
            </tr>
            <tr>
                <th>Fecha de creación</th>
                <td>{{ perfil.fecha_creacion }}</td>
            </tr>
            <tr>
                <th>Última modificación</th>
                <td>{{ perfil.fecha_modificacion }}</td>
            </tr>
        </table>
    </section>

    <aside class="mt-3">
        <button type="button" class="botones-editar" data-bs-toggle="modal"
            data-bs-target="#modalEditar-{{perfil.id_empleado}}">
            <li class="fa fa-edit" style="font-size: 18px;"></li>
        </button>
    </aside>

    <div class="modal fade" id="modalEditar-{{ perfil.id_empleado }}" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="{{ url_for('perfil.actualizar_perfil', id=perfil.id_empleado) }}" method="post"
                class="modal-content formulario">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Editar Información de Perfil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="mb-2">
                        <div class="input-group">
                            <input type="text" name="nombre_empleado" class="input-field" id="nombre_empleado"
                                placeholder="Nombre del empleado" value="{{ perfil.nombre_empleado }}" required />
                            <label for="nombre_empleado" class="input-label">Nombre del Empleado</label>
                        </div>
                    </div>

                    <div class="mb-2">
                        <div class="input-group">
                            <input type="text" name="apellido_pat" class="input-field" id="apellido_pat"
                                placeholder="Apellido paterno" value="{{ perfil.apellido_pat }}" required />
                            <label for="apellido_pat" class="input-label">Apellido Paterno</label>
                        </div>
                    </div>

                    <div class="mb-2">
                        <div class="input-group">
                            <input type="text" name="apellido_mat" class="input-field" id="apellido_mat"
                                placeholder="Apellido materno" value="{{ perfil.apellido_mat }}" required />
                            <label for="apellido_mat" class="input-label">Apellido Materno</label>
                        </div>
                    </div>

                    <div class="mb-2">
                        <div class="input-group">
                            <input type="text" name="nombre_usuario" class="input-field" id="nombre_usuario"
                                placeholder="Nombre de usuario" value="{{ perfil.nombre_usuario }}" required />
                            <label for="nombre_usuario" class="input-label">Nombre de Usuario</label>
                        </div>
                    </div>

                    <div class="mb-2">
                        <div class="input-group">
                            <input type="email" name="correo_empleado" class="input-field" id="correo_empleado"
                                placeholder="Correo electrónico" value="{{ perfil.correo_empleado }}" required />
                            <label for="correo_empleado" class="input-label">Correo Electrónico</label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="botones" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="botones-guardar">Guardar</button>
                </div>
            </form>
        </div>
    </div>

</main>

{% endblock %}