{% extends './layout.html' %} {% block body %}

<main class="container my-2">
    <h2>Bienvenido(a) {{ perfil.nombre_empleado }} {{ perfil.apellido_pat }} {{ perfil.apellido_mat }}</h2>

    <!-- -----------------Alertas de registro, editado, borrado y restaurado---------------------------- -->
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="alert alert-dismissible fade show alert-fixed {% if 'Error' in message %}alert-danger{% elif 'Advertencia' in message %}alert-warning{% else %}alert-success{% endif %}"
        role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <section class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <td>{{ perfil.nombre_empleado }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ perfil.apellido_pat }} {{ perfil.apellido_mat }} </td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ perfil.nombre_usuario }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ perfil.correo_empleado }}</td>
            </tr>
            <tr>
                <th>Rol</th>
                <td>{{ perfil.nombre_rol }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ 'Activo' if perfil.estado else 'Inactivo' }}</td>
            </tr>
            <tr>
                <th>Fecha de creación</th>
                <td>{{ perfil.fecha_creacion }}</td>
            </tr>
            <tr>
                <th>Última modificación</th>
                <td>{{ perfil.fecha_modificacion }}</td>
            </tr>
        </table>
    </section>

    <aside class="mt-3">
        <button type="button" class="botones-editar" data-bs-toggle="modal"
            data-bs-target="#modalEditar-{{perfil.id_empleado}}">
            <li class="fa fa-edit" style="font-size: 18px;"></li>
        </button>
    </aside>

    <div class="modal fade" id="modalEditar-{{ perfil.id_empleado }}" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-tittle" id="staticBackdropLabel">Editar Informacion de Perfil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('perfil.actualizar_perfil', id = perfil.id_empleado) }}" method="post"
                        class="formulario">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        <div class="mb-2">
                            <label for="perfil-{{perfil.nombre_empleado}}" class="form-label">Nombre de empleado</label>
                            <input type="text" name="nombre_empleado" id="nombre_empleado"
                                value="{{ perfil.nombre_empleado }}">
                        </div>

                        <div class="mb-2">
                            <label for="perfil-{{perfil.apellido_pat}}" class="form-label">Apellido Paterno</label>
                            <input type="text" name="apellido_pat" id="apellido_pat" value="{{ perfil.apellido_pat }}">
                        </div>

                        <div class="mb-2">
                            <label for="perfil-{{perfil.apellido_mat}}" class="form-label">Apellido Materno</label>
                            <input type="text" name="apellido_mat" id="apellido_mat" value="{{ perfil.apellido_mat }}">
                        </div>

                        <div class="mb-2">
                            <label for="perfil-{{perfil.nombre_usuario}}" class="form-label">Nombre Usuario</label>
                            <input type="text" name="nombre_usuario" id="nombre_usuario"
                                value="{{ perfil.nombre_usuario }}">
                        </div>

                        <div class="mb-2">
                            <label for="perfil-{{perfil.correo_empleado}}" class="form-label">Correo de empleado</label>
                            <input type="text" name="correo_empleado" id="correo_empleado"
                                value="{{ perfil.correo_empleado }}">
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="botones" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="botones-guardar">Guardar</button>
                </div>
                </form>
            </div>
        </div>
    </div>

</main>

{% endblock %}