<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>No autorizado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body class="bg-light d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-4 text-danger">401</h1>
        <p class="lead">No estás autorizado para ver esta página.</p>
        <img src="{{ url_for('static', filename='img/401_error.png') }}" height=""  width="
    " alt="Aqui deberia ir una imagen">
        <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Iniciar sesión</a>
    </div>
</body>

</html>