<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https:// cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/estilos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/docs.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

</head>

<body>
    <nav class="menu-toggle">
        <div class="">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/conecta.png') }}" alt="Logo CAL" style="width:50px;">
            </a>
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/DIPAAM.png') }}" alt="Logo DIPAAM" style="width:40px;">
            </a>
        </div>
        <ul>
            <li><a href="{{ url_for('empleados.empleadosBuscar') }}">Empleados</a></li>
            <li><a href="">Participantes</a></li>
            <li><a href="">Constancias</a></li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Herramientas</button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('ponentes.ponentes_buscar') }}">Ponentes</a>
                        <a href="{{ url_for('categorias.categorias_buscar') }}">Categorias</a>
                        <a href="[[ url_for('paquetes.paquetes_buscar') ]]">Paquetes</a>
                        <a href="#">Cursos</a>
                        <a href="#">Pagos</a>
                    </div>
                </div>
            </li>
            <li><a href="{{url_for('logout')}}">Sign out</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>

    <footer>
        <div class="container">
            <p class="foot">&copy; {{ current_year }} Conecta Academy Latinoamerica. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
</body>

</html>